<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cydeo</title>
</head>
<body>

<h2>Welcome Cydeo Student !</h2>
<a th:href="@{https://cydeo.com}">Cydeo page</a>
<br>
<a th:href="@{/student/register}">register page</a>

<h2><a th:href="@{/student/register(name=${students2.get(0).firstName})}">Make a search in the register page</a></h2>

<h2>Students' First Name</h2>
<br>
<ul>
  <li th:each="student : ${students2}" th:text="${student.firstName}"></li>
</ul>

<h2>Students' Last Name</h2>
<br>
<ul>
  <li th:each="student : ${students2}" th:text="${student.lastName}"></li>
</ul>


</body>
</html>